.def bat 602
.def hippogryph bat
.def malphas bat
.def slide 802|bat
.def backdash 801&bat
.def panther bat
.def float bat
.def undine 701&bat
.def skula 702&bat&52c|702&bat&707
.def rush 612|613|614
.def dracula 52c&602&707
.def chaos dracula&skula
.def kicker bat

.def reservoir skula
.def eastern_reservoir skula&panther|skula&kicker
.def cemetary reservoir
.def forbidden reservoir&undine&rush&malphas
.def long_jump malphas&float|hippogryph
.def inner_corridor float|malphas|backdash
.def chapel inner_corridor
.def study chapel
.def overhead study|panther
.def underfoot study|panther
.def dance_hall long_jump|kicker
.def inner_quarters dance_hall&slide|inner_corridor&long_jump
.def timestop 806&inner_quarters
.def floating_garden malphas
.def top_floor inner_quarters&hippogryph|inner_corridor&hippogryph
.def clock_tower inner_corridor&hippogryph&skula|inner_corridor&hippogryph&kicker|floating_garden|top_floor
.def arena reservoir

item_00 malphas
item_01 hippogryph
item_02 malphas
item_03 *
item_04 *
item_05 *
item_06 dance_hall&malphas
item_07 *
item_08 inner_corridor
item_09 inner_corridor
item_0a inner_corridor
item_0b *
item_0c inner_corridor&bat|inner_corridor&overhead
item_0d *
item_0e inner_corridor&hippogryph
item_0f inner_corridor
item_10 inner_corridor&float|inner_corridor&malphas
item_11 inner_corridor
item_12 inner_corridor
item_13 inner_corridor
item_14 chapel&malphas|chapel&float
item_15 chapel
item_16 chapel
item_17 chapel
item_18 chapel&malphas|chapel&panther
item_19 chapel
item_1a chapel&malphas
item_1b chapel&hippogryph
item_1c chapel
item_1d chapel&overhead
item_1e chapel
item_1f chapel
item_20 study
item_21 study
item_22 study
item_23 study
item_24 study&malphas|study&panther
item_25 study&malphas
item_26 study&malphas
item_27 study
#item_28 study&slide|forbidden
item_29 study
item_2a study
item_2b dance_hall
item_2c dance_hall&malphas
item_2d dance_hall
item_2e dance_hall&hippogryph|dance_hall&malphas
item_2f dance_hall&malphas
item_30 dance_hall&malphas
item_31 dance_hall&malphas
item_32 inner_quarters&kicker
item_33 timestop&malphas
item_34 timestop&malphas
item_35 inner_quarters&malphas|inner_quarters&panther
item_36 inner_quarters&underfoot&malphas
item_37 inner_quarters&underfoot&malphas
item_38 inner_quarters&malphas
item_39 inner_quarters&malphas
item_3a inner_quarters&malphas
item_3b floating_garden&malphas
item_3c floating_garden&malphas
item_3d floating_garden&malphas
item_3e floating_garden&malphas|floating_garden&panther
item_3f floating_garden&malphas|floating_garden&panther
item_40 floating_garden&malphas|floating_garden&panther
item_41 clock_tower&skula&slide&malphas
item_42 clock_tower&skula
item_43 clock_tower&malphas
item_44 clock_tower&malphas
item_45 clock_tower
item_46 *
item_47 *
item_48 undine&malphas|hippogryph
item_49 reservoir
item_4a reservoir&skula
item_4b cemetary
item_4c reservoir&slide|reservoir&overhead
item_4d reservoir
item_4e reservoir&hippogryph
item_4f eastern_reservoir&kicker|eastern_reservoir&long_jump
item_50 reservoir
item_51 cemetary
item_52 reservoir&hippogryph
item_53 eastern_reservoir
item_54 reservoir&hippogryph
item_55 eastern_reservoir&kicker|eastern_reservoir&long_jump|eastern_reservoir&undine&malphas
item_56 eastern_reservoir&malphas
item_57 eastern_reservoir&malphas
item_58 eastern_reservoir&malphas
item_59 eastern_reservoir&malphas&skula
item_5a reservoir&malphas
item_5b cemetary&malphas
item_5c cemetary&malphas
item_5d cemetary&malphas
item_5e arena
item_5f arena
item_60 arena
item_61 arena
item_62 arena&slide
item_63 arena
item_64 arena
item_65 dracula
item_66 dracula
item_67 top_floor
item_68 top_floor
item_69 top_floor
item_6a top_floor
item_6b top_floor
item_6c top_floor
item_6d top_floor
item_6e forbidden&skula
item_6f forbidden&skula
item_70 chaos
item_71 chaos
item_72 dracula
enemy_6a inner_quarters&malphas
enemy_6b clock_tower&malphas
